NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SELECTDB_HOST=
SELECTDB_PORT=9030
SELECTDB_USER=
SELECTDB_PASSWORD=
SELECTDB_DATABASE=prod
SELECTDB_ATTRIBUTION_SQL=SELECT properties['sponsor'] AS invite_code, id AS platform_user_id, create_time AS bind_time FROM `user` WHERE properties['sponsor'] IS NOT NULL AND properties['sponsor'] != ''
SELECTDB_RECHARGE_SQL=SELECT order_no AS order_no, user_id AS platform_user_id, user['sponsor'] AS invite_code, amount AS amount, pay_time AS pay_time, status AS status FROM recharge WHERE user['sponsor'] IS NOT NULL AND user['sponsor'] != ''
